<head>
    <meta charset="UTF-8">
    <title>Food Delivery Example - Step 6</title>
    <link href="https://storage.googleapis.com/alan-tutorial/web-sdk/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
</head>

<body>
    <div id="login">
        <form onSubmit="login()">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Enter Username">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter Password">
            <input type="submit" value="Login" />
        </form>
    </div>
    <div id="balance"></div>
    <h1>Food Delivery</h1>
    <h3>Menu</h3>
    <div class="menu">
        <div class="menu-item">
            <img src="https://storage.googleapis.com/alan-tutorial/web-sdk/pepperoni.jpg"/>
            Pepperoni
        </div>
        <div class="menu-item">
            <img src="https://storage.googleapis.com/alan-tutorial/web-sdk/margherita.jpg"/>
            Margherita
        </div>
        <div class="menu-item">
            <img src="https://storage.googleapis.com/alan-tutorial/web-sdk/burrito.jpg"/>
            Burrito
        </div>
        <div class="menu-item">
            <img src="https://storage.googleapis.com/alan-tutorial/web-sdk/burger.jpg"/>
            Burger
        </div>
        <div class="menu-item">
            <img src="https://storage.googleapis.com/alan-tutorial/web-sdk/taco.jpg"/>
            Taco
        </div>
        <div class="menu-item">
            <img src="https://storage.googleapis.com/alan-tutorial/web-sdk/applepie.jpg"/>
            Apple Pie
        </div>
    </div>

    <div id="order"></div>
    <div id="address"></div>
    <div id="time"></div>
    <div id="alan-btn"></div>
</body>

<div class="alan-btn"></div>

{{outlet}}
